*{
 background-image: url("https://cdn.pixabay.com/photo/2018/02/28/07/43/astronomy-3187445_1280.jpg"); 
 background-size: cover;
 background: no-repeat;
}
.wrapper {  
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.two {
  text-align: center;
  grid-column:2;
  grid-row: 2;  
  border:1px solid black;
  
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.login1btn {
  text-align: right !important;
}